<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<!--//webfonts-->
    <title>个人空间</title>
    <link href="/static/individual/css/personal.css" rel='stylesheet' type='text/css' />

</head>
<body>
	<div class="top-sign">
    	<div class="top-labels left" style="margin-left:50px;">English</div>
        <div class="top-labels left">返回首页</div>
    	<div class="top-labels right" style="margin-right:50px;">联系我们</div>
        <div class="top-labels right">帮助中心</div>
        <div class="top-labels right">外网资源</div>
        <div class="top-labels right">登出</div>
    </div>
    <div class="header">
        <div class="logo">
            <img src="/static/images/logo.jpg">
        </div>
        <div class="banner">
            <img src="/static/images/banner.jpg">
        </div>
    </div>
    <div class="mainbody">
        <div class="sidebar">
        	<div class="sidehead">
            	<img style="border-radius:50%; border:2px solid #fff; width:100px; height:100px; margin:40px;">
                <p align="center" style="margin-top:-20px;">name</p>
            </div>
			<div id="person-list">
                <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="#info" data-toggle="pill">个人信息</a></li>
                  <li><a href="#account" data-toggle="pill">账户余额</a></li>
                  <li><a href="#identify" data-toggle="pill">认证成为专家</a></li>
                </ul>
			</div>
        </div>
        <div class="bodycontent">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="info">
                    <div class="bodytop">
                    	个人信息
                    </div>
                    <div class="bodytopline"></div>
                    <div class="bodybelly">
                    	<div class="bellyleft">
                        	<ul>
                                <li class="info-list">
                                    用户名:
                                </li>
                                <li class="info-list">
                                    真实姓名:
                                </li>
                                <li class="info-list">
                                    电话：
                                </li>
                                <li class="info-list">
                                    邮箱：
                                </li>
                                <li class="info-list">
                                    基本信息：
                                </li>
                        	</ul>
                        </div>
                        <div class="bellyright">
                            <ul>
                                <li class="info-list">
                                    <div class="info-content">{}</div>
                                </li>
                                <li class="info-list">
                                    <div class="info-content">{}</div>
                                </li>
                                <li class="info-list">
                                    <div class="info-content">{}</div>
                                </li>
                                <li class="info-list">
                                    <div class="info-content">{}</div>
                                </li>
                        	</ul>
                            <div id="basic_info">{}</div>
                            <div id="modifybutton">
                                <form action="/personalmodify/" method="get">
                                    <button type="submit" class="btn btn-primary">修改个人信息</button>
                                </form>
                            </div>
                    	</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="account">
                    <div class="lookaccount">
                    	您的余额：   {}
                    </div>
                    <form action="/recharge/" method="get" style="margin-left:400px;">
                        <button type="submit" class="btn btn-primary">前往充值</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="identify">
                    <div style="width:100px; height:100px; margin-top:200px; margin-left:200px;">
                        <a href="/identify/"><button type="button" class="btn btn-primary">前往认证</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tail">

    </div>
</body>
</html>