<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/expert.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/bootstrap-select.min.css" rel='stylesheet' type='text/css' />
    <link rel="shortcut icon" href="/static/ico/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <title>Title</title>
</head>
<body>
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid" >
            <div class="nav navbar-default  navbar-header">
                <a class="navbar-brand" href="#">xfjz</a>
            </div>
            <div>
                <ul class="nav navbar-nav nav-pills navbar-left">

                            <li ><a href="#">主页</a></li>
                </ul>
            </div>
            <div>
                    <ul class="nav navbar-nav nav-pills navbar-right">
                         <ul class="nav navbar-nav right">
                                {% if not user_id %}
                                    <li><a href="/loginView/">注册/登录</a></li>
                                {% else %}
                                    <li><a>您已经登录</a></li>
                                    <li><a href="/accounts/login/">注销</a></li>
                                    <li><a href="/userinfoView/{{user}}">个人信息</a></li>
                                    <li><a href="/message/">消息中心</a></li>
                                {% endif %}
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="ex-main">
        <div class="wrap topInfo ">
          <div class="baseInfo">
            <div class="info">
              <h2 class="name" >{{ data.name }}<small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</small><small>{% if data.email %}{{ data.email }}{% else %}暂无邮箱{% endif %}</small></h2>
               <span class="num">

              </span>
                 <p class="orgn">
                  <a target="kcmstarget" style="color: #0a6999">{{ data.institute }}</a>
                </p>
              <p class="doma">{% if data.introduction %}{{ data.introduction }}{% else %}暂无简介{% endif %}</p>
              <div class="sideLink">
                  <span class="shareBoard" >
                      <a class="icon icon-share" href="/identify/"><i></i>申请认证<em></em>
                      </a>
                  </span>
              </div>
              </div>
            </div>
        </div>
        <div class="wrap fieldInfo">
          <div class="baseInfo">
            <div class="field-pad">
              <table class="table">
                    <thead><tr><th>关注领域</th></tr></thead>
              </table>
                <a>{{ data.direction }}</a>
            </div>
          </div>
        </div>
        </div>
</body>
