<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/style.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
		<!--webfonts-->
		<!--//webfonts-->
    <title>个人空间</title>
    <link href="/static/individual/css/personal.css" rel='stylesheet' type='text/css' />

</head>
<body>
	<div class="top-sign">
    	<div class="top-labels left" style="margin-left:50px;">English</div>
        <div class="top-labels left">返回首页</div>
    	<div class="top-labels right" style="margin-right:50px;">联系我们</div>
        <div class="top-labels right">帮助中心</div>
        <div class="top-labels right">外网资源</div>
        <div class="top-labels right">登出</div>
    </div>
    <div class="header">
        <div class="logo">
            <img src="/static/images/logo.jpg">
        </div>
        <div class="banner">
            <img src="/static/images/banner.jpg">
        </div>
    </div>
    <div class="mainbody">
        <div class="sidebar">
        	<div class="sidehead">
            	<img style="border-radius:50%; border:2px solid #fff; width:100px; height:100px; margin:40px;">
                <p align="center" style="margin-top:-20px;">name</p>
            </div>
			<div id="person-list">
                <ul class="nav nav-pills nav-stacked">
                  <li class="active"><a href="#info" data-toggle="pill">个人信息</a></li>
                  <li><a href="#account" data-toggle="pill">账户余额</a></li>
                  <li><a href="#message" data-toggle="pill">我的消息</a></li>
                  <li><a href="#notice" data-toggle="pill">通知</a></li>
                  <li><a href="#assets" data-toggle="pill">我的科技成果</a></li>
                </ul>
			</div>
        </div>
        <div class="bodycontent">
            <div class="tab-content">
                <div class="tab-pane fade in active" id="info">
                    <div class="bodytop">
                    	个人信息
                    </div>
                    <div class="bodytopline"></div>
                    <div class="bodybelly">
                    	<div class="bellyleft">
                        	<ul>
                                <li class="info-list">
                                    用户名:
                                </li>
                                <li class="info-list">
                                    真实姓名:
                                </li>
                                <li class="info-list">
                                    电话：
                                </li>
                                <li class="info-list">
                                    邮箱：
                                </li>
                                <li class="info-list">
                                    基本信息：
                                </li>
                        	</ul>
                        </div>
                        <div class="bellyright">
                            <ul>
                                <li class="info-list">
                                    <div class="info-content">{}</div>
                                </li>
                                <li class="info-list">
                                    <div class="info-content">{}</div>
                                </li>
                                <li class="info-list">
                                    <div class="info-content">{}</div>
                                </li>
                                <li class="info-list">
                                    <div class="info-content">{}</div>
                                </li>
                        	</ul>
                            <div id="basic_info">{}</div>
                            <div id="modifybutton">
                                <form action="/personalmodify/" method="get">
                                    <button type="submit" class="btn btn-primary">修改个人信息</button>
                                </form>
                            </div>
                    	</div>
                    </div>
                </div>
                <div class="tab-pane fade" id="account">
                    点击查询并显示账户余额，之后会加入充值接口。
                </div>
                <div class="tab-pane fade" id="message">
                    此处显示消息列表。之后用下拉列表分成通知和普通消息两项，可以参考知网代码。
                </div>
                <div class="tab-pane fade" id="notice">
                    此处显示通知消息。
                </div>
                <div class="tab-pane fade" id="assets">
                    如果是专家则展示所有科技成果列表，并提供上传新科技成果接口，点开某一条目跳转到修改科技成果界面。如果是普通用户则显示无成果，并提供跳转到专家认证页面的接口（我之后会写）。
                </div>
            </div>
        </div>
    </div>
    <div class="tail">

    </div>
</body>
</html>