<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/viewachieve.css" rel='stylesheet' type='text/css' />
    <link href="/static/css/bootstrap-select.min.css" rel='stylesheet' type='text/css' />
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap-hover-dropdown/2.2.1/bootstrap-hover-dropdown.min.js"></script>
    <script src="/static/js/bootstrap-select.min.js"></script>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--webfonts-->
    <!--//下方修改为成果名称-->
    <title>{{name}}-ischolar-专利数据库</title>
</head>
<body>
<!--导航栏-->
    <nav class="navbar navbar-fixed-top navbar-default" role="navigation">
        <div class="container-fluid" >
            <div class="nav navbar-default  navbar-header">
                <a class="navbar-brand" href="/index/">ischolar</a>
            </div>
            <div>
                <ul class="nav navbar-nav nav-pills navbar-left">

                            <li ><a href="/index/">主页</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                                    成果分类
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">工科</a></li>
                                    <li><a href="#">理科</a></li>
                                    <li><a href="#">农科</a></li>
                                </ul>
                            </li>
                        <li><a href="#">专利大厅</a></li>
                </ul>
            </div>
            <div>
                    <ul class="nav navbar-nav nav-pills navbar-right">
                         <ul class="nav navbar-nav right">
                                {% if not user %}
                                    <li><a href="/registerView/">注册/登录</a></li>
                                {% else %}
                                    <li><a>您已经登录</a></li>
                                    <li><a href="/accounts/login/">注销</a></li>
                                    <li><a href="/PS/">个人信息</a></li>
                                {% endif %}
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <div class="va-main">
        <div class="left-view">
            <h2 href="#">{{name}}</h2>
            <div class="key-content">
                <div class="author-wr">
                    <p class="label div-inline">申请号：</p>
                    <p class="author-text" href="#">{{app_number}}</p>
                </div>
                <div class="author-wr">
                    <p class="label div-inline">申请日：</p>
                    <p class="author-text" href="#">{{app_date}}</p>
                </div>
                <div class="author-wr">
                    <p class="label div-inline">公开号：</p>
                    <p class="author-text" href="#">{{publish_number}}</p>
                </div>
                <div class="author-wr">
                    <p class="label div-inline">公开日：</p>
                    <p class="author-text" href="#">{{published_time}}</p>
                </div>
                <div class="author-wr">
                    <p class="label div-inline">申请人：</p>
                    <p class="author-text" href="#">{{appliant}}</p>
                </div>
                <div class="author-wr">
                    <p class="label div-inline">地址：</p>
                    <p class="author-text" href="#">{{address}}</p>
                </div>
                <div class="author-wr">
                    <p class="label div-inline">发明人：</p>
                    <a class="author-text" href="#">{{author}}</a>
                </div>
                <div class="author-wr">
                    <p class="label div-inline">代理机构：</p>
                    <p class="author-text" href="#">{{agency}}</p>
                </div>
                <div class="author-wr">
                    <p class="label div-inline">代理人：</p>
                    <p class="author-text" href="#">{{agent}}</p>
                </div>
                <div class="author-wr">
                    <p class="label div-inline">国省代码：</p>
                    <p class="author-text" href="#">{{code}}</p>
                </div>
                <div class="abstract-wr div-inline">
                    <div class="label div-inline" >摘要：</div>
                    <p class="abstract div-inline" >{{introduction}}</p>
                </div>

                <div class="love-wr">
                    <p class="color-src">
                        页数:
                        <a class="mar-src  color-src">
                        {{page}}
                        </a>
                    </p>
                    <p class="mar-src  color-src">
                        主专利号：{{main_cls_num}}
                    </p>
                    <p class="mar-src  color-src">
                        专利分类号：{{patent_cls_num}}
                    </p>
                    <p class="mar-src  color-src">
                        阅读量：{{clicks}}
                    </p>
                 </div>
                     <div class="subinfo">
                        <div class="subinfo-tool">
                            <button class="btn btn-primary ">收藏</button>
                            <button class="btn btn-info ">引用</button>
                            <button class="btn btn-warning ">报错</button>
                            <button class="btn btn-success ">分享</button>
                        </div>
                    </div>
            <div class="paper-src-wr">
                <ul id="myTab" class="nav nav-tabs paper-src-tab">
                    <li class="active">
                        <a href="#menu1" data-toggle="tab">
                            全部来源
                        </a>
                    </li>
                    <li><a href="#menu2" data-toggle="tab">免费来源</a></li>
                </ul>
                <div class="tab-content">
                    <div id="menu1" class="active src-container" role="tabpanel">
                        <span class="item-span">
                            <a class="item" href={{download_link}}>{{source}}</a>
                        </span>
                    </div>
                    <div id="menu2" class="fade src-container" role="tabpanel">
                        <span class="item-span">
                            <a class="item" href={{download_link}}>{{source}}</a>
                        </span>
                    </div>
                </div>

            </div>
        </div>

    </div>

</body>
</html>