.top-sign
{
    height: 30px;
    width: 100%;
	background:#F7F7F7;
}
.top-labels.left
{
	float:left;
	height:100%;
	width:80px;
	text-align:center;
	line-height:30px;
	border-radius:8px;
}
.top-labels.right
{
	float:right;
	height:100%;
	width:80px;
	text-align:center;
	line-height:30px;
	border-radius:8px;
}
.top-labels:hover
{
	background:#EEE;
}
.header
{
	height: 100px;
	width: 100%;
	padding-bottom:0;
	padding-top:0;
}
.logo
{
	height:100%;
	width:200px;
	float:left;
	margin-left:90px;
	border-right:1px dashed #ccc;
}
.banner
{
	height:100%;
	width:70%;
	float:left;
}
img
{
	width:100%;
	height:100%;
}
.mainbody
{
	margin:30px 80px 40px 80px;
	height:800px;
	width:auto;
}
.sidebar
{
	height:100%;
	width:20%;
	text-align:center;
	float:left;
	background:#DECEFB;
}
.sidehead
{
	height:200px;
	width:100%;
	background-image:url(/static/images/headbg.jpg);
}
#person-list
{
}
.bodycontent
{
	height:100%;
	width:80%;
	float:left;
}
.tail
{
	width:100%;
	height:200px;
	background:#F6F6F6;
}
.bodytop
{
	height:40px;
	width:100%;
	font-size:18px;
	padding-left:30px;
	padding-top:10px;
}
.bodytopline
{
	height:2px;
	width:100%;
	margin-left:10px;
	background:#78BBFE;
}
.bodybelly
{
	height:100%;
	width:60%;
	padding-top:70px;
}
.bellyleft
{
	width:40%;
	height:100%;
	text-align:right;
	padding-right:20px;
	float:left;
}
.info-list
{
	list-style:none;
	line-height:50px;
}
.info-list2
{
	height:50px;
	width:100%;
	padding-top:10px;
}
.info-list3
{
	height:200px;
	width:100%;
	padding-top:10px;
}
.bellyright
{
	width:60%;
	height:100%;
	float:left;
}
#modifybutton
{
	width:100px;
	height:50px;
	float:right;
	margin:80px  80px;
}
.info-content
{
	width:100%;
	height:50px;
}
#basic_info
{
	width:100%;
	height:200px;
	margin-top:15px;
}


